@charset "utf-8";
body {
  background-image: url("https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG-N172vYfX1NhqcTxrJ0wB_ArUX7nAG16ZHqt-aydrlYeoY8HMQV_syf25y0LJCuZCCB-F5PdVm9BBdSVKnteicVbyoKD0lxwQMCRbuqBNrKgCA4RGaid3itx7yOlGmFKauWD8Jm637V5HDHj2kVN_lGUYcAY8NsnA7aK7e8m1xlaZCmikHdTTYGDupCaihUGZKPsB6pIMZYBam8KvV-fWkxOZywr9hSFDantfeiSWmG/white_00051.jpg");
  background-repeat: repeat-y;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 0px;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
    [title] auto
    [member] auto
    [purpose] auto
    [target] auto
    [what] auto
    [how] auto
    [future] auto
    ;


  grid-row-gap: 20px;
  row-gap: 20px;
  font-style: italic;
  color: black;
  text-align: center;
  font-size: 40px;
}

body > * {
  grid-column: 2 / -2;
}


h1 {
  font-size: 100px;
  justify-self: center;
  align-self: center;
  grid-row: title;
  color: black;

}

li {
  font-size: 50px;
}
div {
  justify-self: center;
}

div p {
  font-size: 40px;
}

.purpose {
  grid-row: purpose;


}
.purpose h2 {
  font-size: 60px;
  margin-top: 100px;
  text-align: center;
}

.target {
  grid-row: target;
}

.target li {
  text-align: start;
  margin-left:20%;
}
.target ul ul {
  font-size: 2px;
}


.what {
  grid-row: what;
  width: 100%;

}
.what h2 {
  font-size: 60px;
  margin-top: 100px;
  text-align: center;
}
.what div {
  text-align: start;
}
.what p {
  padding-left: 200px;
}

.how {
  grid-row: how;
}


.future {
  grid-row: future;
  width: 100%;

}
.future h2 {
  font-size: 60px;
  margin-top: 100px;
  text-align: center;
}
