<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <h1>ルール①：余白をとる</h1>

    <h2>◎スライドの周囲、図の周囲には余白を取る</h2>
    スライドやポスターなどの「全体のレイアウト」では余白が重要です。下のスライドを見てみましょう。
    <img src="https://tsutawarudesign.com/miyasuku/miyasuku-10.svg" width="90%" height="90%">
    <br>左上のスライドの例を見てください。テキストと図の高さが揃っているのはよいのですが、赤い三角をつけた部分にスペースが少なすぎます。これでは、とても窮屈で、非常に読みにくいスライドになります。
    <br>では、余白はどのように取ればいいのか、なぜ余白が重要なのかについて説明します。

    <h4>余白の取り方の基本</h4>
    ・むやみに文字を大きくするのではなく、ゆとりをもって配置できるような文字サイズにする。
    <br>・「文字とスライドの端」、「文字と文字」、「文字と図」の間にはしっかりとスペースを空ける。

    <h4>余白の重要性</h4>
    プロジェクターの具合によっては、スライドの端がスクリーンからはみ出てしまうこともあるので、そういった意味でも、スライドでは周囲にスペースを作ることは重要です。
    <br>また、スペースが美しければ、スライドも美しくなります（左上のスライド参照）。スライドの場合は、最低でも本文の文字の１文字分の余白（右下の図で薄い赤色で示したくらいの余白）を設けるようにしましょう。２文字分くらいの余白をとると、かなりゆったりした資料になり、確実に見やすくなります。
    <br>研究発表では必要のないことかもしれませんが、余白が多いほどオシャレな印象になりやすいです。

    <p style="color: red">*わざとデザインの面で余白を取らない場合もありますので、必ずしも余白が必要になるわけではありません。</p>

    <h2>◎余裕をもって配置する</h2>
    しばしば枠の中に単語や文章を入れることがあります。このとき注意したいのは、文字と枠の間隔です。文字が枠のギリギリになってしまうと、枠の近くの文字が非常に読みにくくなります。
    <br>文字は線の要素で、枠線も線の要素であるため、互いに接近したときに干渉し合ってしあうためです。「ギリギリだけど収まったからいい」なんてことはありません。枠の中に、余裕をもって文章を配置しましょう。
    <br>では、いくつかの例を挙げて説明します。

    <h4>文章を枠内に入れる場合</h4>
    <img src="https://tsutawarudesign.com/miyasuku/miyasuku-11.svg" width="90%" height="90%">
    <br>文章を枠内に入れる場合は、上下に１文字分ぐらい余白を確保するといいでしょう。

    <h4>語句を枠内に入れる場合</h4>
    <img src="https://tsutawarudesign.com/miyasuku/miyasuku-12.svg" width="90%" height="90%">
    <br>語句を枠内に入れる場合は、枠は大きめにとりましょう。ちょっとしたことですが、こういった積み重ねが全体の読みやすさを大きく変えます。

    <h4>具体的な例</h4>
    <img src="https://tsutawarudesign.com/miyasuku/miyasuku-13.svg" width="90%" height="90%">
    <br>枠の中の文字が窮屈すぎると読みにくい上に、印象もよくありません。どうしても枠を大きくできないとか、文字数を減らすことができない場合ならば、少々文字を小さくした方が読みやすいこともあります。
    <br>*ちなみに、分量（行数）が少ないほど、枠内の余白は少なくてもよいです（スライド全体には１文字分の余白が必要だが、タイトル部分やフローチャートの部分は、0.5〜0.7文字分でも構わない、という意味です）。

  </section>

  <section></section>
  <h1>ルール②：揃える</h1>
  <h2>サイトの要素を揃える</h2>
  <p>テキストや図を整理整頓することは、大した労力がかからない割に、大きな効果を発揮します。下の図を見てみましょう</p>
  <div>
    <img src="./sorottenai.png" alt="揃ってない">
    <img src="./sorotteiru.png" alt="揃っている">
    <img src="" alt="グリッドのコード">
  </div>
  <p>上のようにサイト全体を格子上に捉えることでそれぞれの要素を配置しやすくなります。それに加えて図の大きさや文章の長さなどを揃えることも印象をかなり良くします。</p>
  <p>しかし、新聞記事のように見出しや小さな図が入る場合は、最初のようにグリッドを応用する必要があります。</p>
  <div>
    <img src="" alt="グリッドの応用コード">
  </div>
  <h2>タイトルより上に中身を書かない</h2>
  <p>人は普通、左上から右下に目が動きます。そのため、左上にタイトルをつけた場合、そのタイトルに関連する内容はタイトルよりも右下にある方が読みやすくなります。決して内容をタイトルの真横やそれよりも上に書かないようにしましょう。</p>
  <div>
    <img src="./titleiti.png" alt="タイトルの位置">
  </div>
  <h2>収まりの悪いイラストやグラフは四角で囲う</h2>
  <p>上で説明したようにサイトの要素はできるだけ位置を揃えて配置したほうが見やすくなります。しかし位置を揃えにくい要素や、位置を揃えても揃って見えない要素も存在します。具体的にはイラストやグラフなどは輪郭が曖昧なので、位置を合わせてもフワフワと余白に浮いているように見えてしまいます。<br>このような場合は、要素の背景に薄い灰色(既存の色と同色系)の四角形などを適用すると効果的です。</p>
  <div>
    <img src="./sorottemienai.png" alt="揃って見えない">
    <img src="./sorottemieru.png" alt="揃って見える">
  </div>
  <p>便利なテクニックですが「囲い・枠」が多くなると全体が煩雑になるので汎用は避けましょう。また背景色に濃い色を使うのも美しくありません。</p>
  </section>

  <section>
          <h1>ルール３：まとめる</h1>
          <p>
                      レイアウトを考える際、伝えたい多くの情報をいかに分かりやすく伝えるかということは重要です。
                      「情報を読み解く力を付けさせる」のではなく、「情報を伝える」ということに主眼を置いた場合、
                      視覚的に速く情報を得られるのはユーザにとって評価に値します。<br>
                      多くの情報は相互に関係性を持っていることがあります。関係性がない情報と、関係性がある情報の
                      ２種類を視覚的に分けるためには、情報同士をまとめるという方法が有効です。<br>
                      以下では何種類かのアプローチから情報をまとめる方法を記述します。
                  </p>
          <h2>
                      (1)位置的アプローチ　ー関連のある項目同士を相対的に近づけるー
                  </h2>
          <p>
                      ここでは情報をどこに配置するかという観点で情報を「まとめ」たいと思います。<br>
                      他の情報との相対的な配置を変えることによって、関連性の強さを視覚的に明示することが出来ます。
                      具体的に言えば、関連性が強い情報同士は近くに配置し、関連性が低い情報同士は遠くに配置します。<br>
                      以下の例のように、文章と画像で対応するもの同士を近づけることでパッと見ただけでその文章が
                      どんな内容の話なのかがすぐ理解できます。
                  </p>
          <img src="https://tsutawarudesign.com/miyasuku/miyasuku-06.svg" alt="">
          <img src="https://tsutawarudesign.com/miyasuku/miyasuku-08.svg" alt="">
          <img src="" alt="">
          <p>
                      画像と文章、のような対応でなくてもグループ化は可能です。例えば文章と見出し、という関係の場合も、
                      見出しとそれに関連する文章を近づけることで関連性が視覚的に分かりやすくなります。
                  </p>
          <img src="https://tsutawarudesign.com/miyasuku/miyasuku-65.svg" alt="">

          <h2>
                      (2)色彩的アプローチ　ー同じ色を使ってグループ化ー
                  </h2>
          <p>
                      ここでは情報をどんな色を用いて表すかという観点で情報を「まとめ」たいと思います。<br>
                      色という視覚的な共通点や相違点を作りだすことによって、情報という内容の関連性の強さを
                      明示することができます。具体的にいえば、関連性が強い情報同士に同じ色を用いて、
                      その情報と関連性が低い情報に違う色を使います。<br>
                      以下の例のように、文章と画像で対応するもの同士の色を同じにすることでパッと見ただけでその文章が
                      どんな内容の話なのかがすぐ理解できます。
                  </p>
          <img src="https://tsutawarudesign.com/miyasuku/miyasuku-07.svg" alt="">
          <img src="https://tsutawarudesign.com/miyasuku/miyasuku-09.svg" alt="">
          <p>
                      このようにして、位置と色彩の観点からまとめる方法を見て、なぜ必要なのか、使うとどうなるかについて
                      考えてきました。他にもアプローチはありますが、今回紹介したアプローチは非常に重要なものです。
                  </p>

  </section>
</body>
</html>
