<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>ルール②：揃える</h1>
  <h2>サイトの要素を揃える</h2>
  <p>テキストや図を整理整頓することは、大した労力がかからない割に、大きな効果を発揮します。下の図を見てみましょう</p>
  <div>
    <img src="./sorottenai.png" alt="揃ってない">
    <img src="./sorotteiru.png" alt="揃っている">
    <img src="" alt="グリッドのコード">
  </div>
  <p>上のようにサイト全体を格子上に捉えることでそれぞれの要素を配置しやすくなります。それに加えて図の大きさや文章の長さなどを揃えることも印象をかなり良くします。</p>
  <p>しかし、新聞記事のように見出しや小さな図が入る場合は、最初のようにグリッドを応用する必要があります。</p>
  <div>
    <img src="" alt="グリッドの応用コード">
  </div>
  <h2>タイトルより上に中身を書かない</h2>
  <p>人は普通、左上から右下に目が動きます。そのため、左上にタイトルをつけた場合、そのタイトルに関連する内容はタイトルよりも右下にある方が読みやすくなります。決して内容をタイトルの真横やそれよりも上に書かないようにしましょう。</p>
  <div>
    <img src="./titleiti.png" alt="タイトルの位置">
  </div>
  <h2>収まりの悪いイラストやグラフは四角で囲う</h2>
  <p>上で説明したようにサイトの要素はできるだけ位置を揃えて配置したほうが見やすくなります。しかし位置を揃えにくい要素や、位置を揃えても揃って見えない要素も存在します。具体的にはイラストやグラフなどは輪郭が曖昧なので、位置を合わせてもフワフワと余白に浮いているように見えてしまいます。<br>このような場合は、要素の背景に薄い灰色(既存の色と同色系)の四角形などを適用すると効果的です。</p>
  <div>
    <img src="./sorottemienai.png" alt="揃って見えない">
    <img src="./sorottemieru.png" alt="揃って見える">
  </div>
  <p>便利なテクニックですが「囲い・枠」が多くなると全体が煩雑になるので汎用は避けましょう。また背景色に濃い色を使うのも美しくありません。</p>
</body>
</html>
