<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>レイアウトのルール1</title>
</head>

<body>
<h1>ルール①：余白をとる</h1>

<h2>◎スライドの周囲、図の周囲には余白を取る</h2>
スライドやポスターなどの「全体のレイアウト」では余白が重要です。下のスライドを見てみましょう。
<img src="https://tsutawarudesign.com/miyasuku/miyasuku-10.svg" width="90%" height="90%">
<br>左上のスライドの例を見てください。テキストと図の高さが揃っているのはよいのですが、赤い三角をつけた部分にスペースが少なすぎます。これでは、とても窮屈で、非常に読みにくいスライドになります。
<br>では、余白はどのように取ればいいのか、なぜ余白が重要なのかについて説明します。

<h4>余白の取り方の基本</h4>
・むやみに文字を大きくするのではなく、ゆとりをもって配置できるような文字サイズにする。
<br>・「文字とスライドの端」、「文字と文字」、「文字と図」の間にはしっかりとスペースを空ける。

<h4>余白の重要性</h4>
プロジェクターの具合によっては、スライドの端がスクリーンからはみ出てしまうこともあるので、そういった意味でも、スライドでは周囲にスペースを作ることは重要です。
<br>また、スペースが美しければ、スライドも美しくなります（左上のスライド参照）。スライドの場合は、最低でも本文の文字の１文字分の余白（右下の図で薄い赤色で示したくらいの余白）を設けるようにしましょう。２文字分くらいの余白をとると、かなりゆったりした資料になり、確実に見やすくなります。
<br>研究発表では必要のないことかもしれませんが、余白が多いほどオシャレな印象になりやすいです。

<p style="color: red">*わざとデザインの面で余白を取らない場合もありますので、必ずしも余白が必要になるわけではありません。</p>

<h2>◎余裕をもって配置する</h2>
しばしば枠の中に単語や文章を入れることがあります。このとき注意したいのは、文字と枠の間隔です。文字が枠のギリギリになってしまうと、枠の近くの文字が非常に読みにくくなります。
<br>文字は線の要素で、枠線も線の要素であるため、互いに接近したときに干渉し合ってしあうためです。「ギリギリだけど収まったからいい」なんてことはありません。枠の中に、余裕をもって文章を配置しましょう。
<br>では、いくつかの例を挙げて説明します。

<h4>文章を枠内に入れる場合</h4>
<img src="https://tsutawarudesign.com/miyasuku/miyasuku-11.svg" width="90%" height="90%">
<br>文章を枠内に入れる場合は、上下に１文字分ぐらい余白を確保するといいでしょう。

<h4>語句を枠内に入れる場合</h4>
<img src="https://tsutawarudesign.com/miyasuku/miyasuku-12.svg" width="90%" height="90%">
<br>語句を枠内に入れる場合は、枠は大きめにとりましょう。ちょっとしたことですが、こういった積み重ねが全体の読みやすさを大きく変えます。

<h4>具体的な例</h4>
<img src="https://tsutawarudesign.com/miyasuku/miyasuku-13.svg" width="90%" height="90%">
<br>枠の中の文字が窮屈すぎると読みにくい上に、印象もよくありません。どうしても枠を大きくできないとか、文字数を減らすことができない場合ならば、少々文字を小さくした方が読みやすいこともあります。
<br>*ちなみに、分量（行数）が少ないほど、枠内の余白は少なくてもよいです（スライド全体には１文字分の余白が必要だが、タイトル部分やフローチャートの部分は、0.5〜0.7文字分でも構わない、という意味です）。

</body>
</html>