<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gettogether</title>
    </head>

    <body>
        <h1>ルール３：まとめる</h1>
        <p>
            レイアウトを考える際、伝えたい多くの情報をいかに分かりやすく伝えるかということは重要です。
            「情報を読み解く力を付けさせる」のではなく、「情報を伝える」ということに主眼を置いた場合、
            視覚的に速く情報を得られるのはユーザにとって評価に値します。<br>
            多くの情報は相互に関係性を持っていることがあります。関係性がない情報と、関係性がある情報の
            ２種類を視覚的に分けるためには、情報同士をまとめるという方法が有効です。<br>
            以下では何種類かのアプローチから情報をまとめる方法を記述します。
        </p>
        <h2>
            (1)位置的アプローチ　ー関連のある項目同士を相対的に近づけるー
        </h2>
        <p>
            ここでは情報をどこに配置するかという観点で情報を「まとめ」たいと思います。<br>
            他の情報との相対的な配置を変えることによって、関連性の強さを視覚的に明示することが出来ます。
            具体的に言えば、関連性が強い情報同士は近くに配置し、関連性が低い情報同士は遠くに配置します。<br>
            以下の例のように、文章と画像で対応するもの同士を近づけることでパッと見ただけでその文章が
            どんな内容の話なのかがすぐ理解できます。
        </p>
        <img src="https://tsutawarudesign.com/miyasuku/miyasuku-06.svg" alt="">
        <img src="https://tsutawarudesign.com/miyasuku/miyasuku-08.svg" alt="">
        <img src="" alt="">
        <p>
            画像と文章、のような対応でなくてもグループ化は可能です。例えば文章と見出し、という関係の場合も、
            見出しとそれに関連する文章を近づけることで関連性が視覚的に分かりやすくなります。
        </p>
        <img src="https://tsutawarudesign.com/miyasuku/miyasuku-65.svg" alt="">

        <h2>
            (2)色彩的アプローチ　ー同じ色を使ってグループ化ー
        </h2>
        <p>
            ここでは情報をどんな色を用いて表すかという観点で情報を「まとめ」たいと思います。<br>
            色という視覚的な共通点や相違点を作りだすことによって、情報という内容の関連性の強さを
            明示することができます。具体的にいえば、関連性が強い情報同士に同じ色を用いて、
            その情報と関連性が低い情報に違う色を使います。<br>
            以下の例のように、文章と画像で対応するもの同士の色を同じにすることでパッと見ただけでその文章が
            どんな内容の話なのかがすぐ理解できます。
        </p>
        <img src="https://tsutawarudesign.com/miyasuku/miyasuku-07.svg" alt="">
        <img src="https://tsutawarudesign.com/miyasuku/miyasuku-09.svg" alt="">
        <p>
            このようにして、位置と色彩の観点からまとめる方法を見て、なぜ必要なのか、使うとどうなるかについて
            考えてきました。他にもアプローチはありますが、今回紹介したアプローチは非常に重要なものです。
        </p>

    </body>

</html>