<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>コントラスト</title>
  </head>
  <body>
    <h1>ルール➃：コントラスト</h1>
    <h2>〇ジャンプ率を高める</h2>
    <p>「ジャンプ率」とは、本文の文字のサイズに対するタイトルや見出しの文字サイズの比率のこと。<br>
      <ul>
        <li>高い：躍動感のある印象</li>
        <li>低い：落ち着いた印象</li>
      </ul>
      タイトルには、自分の言いたいことが凝縮しているので重要になる。<br>
      下の例のように、タイトルのジャンプ率を高くすればするほど、タイトルが強調されていることが分かる。<br>
      ㊟本文に対する相対的な大きさが目立ちやすさや躍動感を決めている<br>
    </p>
    <img src="1.png">

    <h2>〇様々な素材で魅力的に！</h2>
    <p>どのようなものでも内容を見てもらうには、まず人の目を引くものでなくてはいけない。<br>また、歩いている人の目を引くかどうかは、0.3秒で決まると言われている。<br>よって、可読性を損なわずに、一瞬で人の目を捉えるための素材（文字や図形、イラスト、写真など）が必要になる。<br><br>※ただ目立たせるだけの派手な色にしてしまうと、いざ読もうとしたときに読みづらくなってしまう。<br>下の例のように、色々と工夫すれば読みやすくインパクトのあるものになる。</p>
    <img src="2.png">
  </body>
</html>
